@model relacionandoTablas.Models.Paciente

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>
<h3>Seguro que queres borrar?</h3>
<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre), @Html.DisplayFor(model => model.Apellido)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        //@Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver al listado", "Index")
        </div>
    }
</div>
