@using Newtonsoft.Json;
@model List<relacionandoTablas.Models.Turno>



@{
    ViewBag.Title = "Home Page";
}

<h1>RehabilitaR</h1>



<div class="fondo-calendario" id='calendar'></div>


<div>
    <div class="container-33">
        <div>
            <p>@Html.ActionLink("Turnos", "Index", "Turnoes")</p>

        </div>
        <div>
            <p>@Html.ActionLink("Agenda", "Index", "Turnoes")</p>
        </div>
        <div>
            <p>@Html.ActionLink("Pacientes", "Index", "Pacientes")</p>
        </div>
    </div>
</div>

<script>
        
    var jsonModel = '@Html.Raw(JsonConvert.SerializeObject(Model.Select(
                    x => new {
                        id = x.Id,                        
                        title = x.Paciente.Nombre+" "+ x.Paciente.Apellido,
                        start = x.Dia +" "+ x.Hora,
                        //end = x.Dia + " " + x.Hora,
                        allDay = false
                    }).ToList()))';

    $(function () {        
        var events = JSON.parse(jsonModel)
        
        $('#calendar').fullCalendar({

            locale: 'es',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listMonth'
            },

            themeSystem: 'bootstrap3',
            height: 450,
            defaultView: 'agendaDay',
            forceEventDuration: true,
            defaultTimedEventDuration: "00:30:00",
            //eventMouseover: function (event, jsEvent, view) {
                
            //    $('.fc-event-inner').append('Hola');
            //},
            //eventMouseOut: function (event, jsEvent, view) {
            //    $('.fc-event-inner').remove();
            //},

            eventClick: function (info, element, view) {
                window.location.href = window.location.origin + '/Turnoes/Edit/' + info.id;                
            },
            selectable: true,
            eventRender: function (event, element) {
                $(element).tooltip({ title: event.title +' '+ event.start._i }); 
            },
            events: events            
        })
    });

</script>



