@using Newtonsoft.Json;
@model List<relacionandoTablas.Models.Turno>



@{
    ViewBag.Title = "Home Page";
}

<h1>RehabilitaR</h1>


<div>
    <div class="container-33">
        <div>
            <p>@Html.ActionLink("Turnos", "Index", "Turnoes")</p>

        </div>
        <div>
            <p>@Html.ActionLink("Agenda", "Index", "Turnoes")</p>
        </div>
        <div>
            <p>@Html.ActionLink("Pacientes", "Index", "Pacientes")</p>
        </div>
    </div>
</div>

<div class="fondo-calendario" id='calendar'></div>


<script>
        
    var jsonModel = '@Html.Raw(JsonConvert.SerializeObject(Model.Select(
                    x => new {
                        id = x.Id,
                        title = x.Paciente.Nombre,
                        start = x.Dia +" "+ x.Hora,
                        //end = x.Dia + " " + x.Hora,
                        allDay = false
                    }).ToList()))';

    $(function () {        
        var events = JSON.parse(jsonModel)  
        
        $('#calendar').fullCalendar({

            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listMonth'
            },

            themeSystem: 'bootstrap3',
            height: 450,
            defaultView: 'agendaWeek',
            forceEventDuration: true,
            defaultTimedEventDuration: "00:30:00",
            events: events            
        })
    });

</script>



