
@model relacionandoTablas.Models.User

@{
    ViewBag.Title = "Index";
}




<h2>Index</h2>

<form action="/Login/Index" method="post">
    @Html.EditorFor(model => model.Userr, new { htmlAttributes = new { @class = "input-text", @type = "text", @required = "true" } })
    @Html.EditorFor(model => model.Pass, new { htmlAttributes = new { @class = "input-text", @type = "password", @required = "true" } })
    <input type="submit" name="name" value="Login" />
</form>

